.block-consulting-icon {
  text-align: center;
  margin: 2em 0;
}
.block-consulting-icon img {
  margin-bottom: 2em;
}
.layout--twocol-section--67-33 .layout__region--second .block-ehs_homepage_callout {
  margin-bottom: 1em;
}
