/**
 * @file
 * A CSS style sheet to be used for custom styling.
 *
 * Just be sure to make a backup of this file prior to updating to a new version of the GT Subtheme,
 * or your styles will get overridden when updating.
 * After updating you'll need to replace this file with your backup.
 *
 */


/***ADDITIONAL NOTES:  Initially this project started with just one business process. 
Later several more business process were started. So to not disrupt what was in the original 
This css file called toolkit was started to deal with the remainder of the business processes
After this project is finallize all of the proccesses should added to one css file. The business
process pages will be differentiated by an appendix to the main link crumbar-xx */

/**********Business Toolkit Navigation  Change Management *************/

div[class^="crumbar-"]{
    display: inline-block;
    border-radius: 5px;
    counter-reset: flag; 
    padding-bottom: 0em;
}


div[class^="crumbar-"] a{
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 1.35;
    color: white;
    /*need more margin on the left of links to accomodate the numbers*/
    padding: 6px 10px 8px 35px;
    background: #666;
    background: linear-gradient(#666, #333);
    position: relative;
    width: 220px;
    text-align: center;
}


div[class^="crumbar-od"] a{  /* od - organizational design */ 
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 1.35;
    color: white;
    /*need more margin on the left of links to accomodate the numbers*/
    padding: 8px 10px 6px 25px;
    background: #666;
    background: linear-gradient(#666, #333);
    position: relative;
    width: 220px;
    text-align: center;
}

div[class^="crumbar-od"] a {/* first-child taken out */
    padding: 8px 10px 6px 25px !important;
    /*border-radius: 5px 0 0 5px; to match with the parent's radius*/
}
div[class^="crumbar-od"] a:last-child  {/* first-child taken out */
    padding: 15px 0px 15px 25px !important;
    /*border-radius: 5px 0 0 5px; to match with the parent's radius*/
}

div[class^="crumbar-sd"] a{   /* sd - strategic implementation developmeent */ 
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 1.35;
    color: white;
    /*need more margin on the left of links to accomodate the numbers*/
    padding: 15px 0px 15px 0px;
    background: #666;
    background: linear-gradient(#666, #333);
    position: relative;
    width: 184px;
    text-align: center;
}

div[class^="crumbar-sd"] a:nth-child(2) {/* first-child taken out */
    padding: 8px 10px 6px 25px !important;
    /*border-radius: 5px 0 0 5px; to match with the parent's radius*/
}
div[class^="crumbar-sd"] a:last-child  {/* first-child taken out */
    padding: 15px 0px 15px 20px !important;
    /*border-radius: 5px 0 0 5px; to match with the parent's radius*/
}


/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
div[class^="crumbar-cm"] a {/* first-child taken out */
    padding: 15px 0 15px 10px;
    /*border-radius: 5px 0 0 5px; to match with the parent's radius*/
}


div[class^="crumbar-"] a:first-child:before {
    left: -2px;
}
div[class^="crumbar-"] a:last-child {
    border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
    padding-right: 20px;
}

div[class^="crumbar-"] a:nth-child(1), div[class^="crumbar-"] a:nth-child(1):after{
     background: #002349;
} 
div[class^="crumbar-"] a:nth-child(2), div[class^="crumbar-"] a:nth-child(2):after{
    background: #073164;
} 
div[class^="crumbar-"] a:nth-child(3), div[class^="crumbar-"] a:nth-child(3):after{
    background: #133e7a;
}
div[class^="crumbar-"] a:nth-child(4), div[class^="crumbar-"] a:nth-child(4):after{
    background: #234c8c;
}
div[class^="crumbar-"] a:nth-child(5), div[class^="crumbar-"] a:nth-child(5):after {
    background: #385a99;
}
div[class^="crumbar-"] a:nth-child(6), div[class^="crumbar-"] a:nth-child(6):after {
    background: #516ba2;
}


/*hover/active styles*/
div[class^="crumbar-"] a.active, div[class^="crumbar-"] a:hover{
    background: #333;
    background: linear-gradient(#333, #000);
}
div[class^="crumbar-"] a.active:after, div[class^="crumbar-"] a:hover:after {
    background: #333;
    background: linear-gradient(135deg, #333, #000);
}



/*adding the arrows for the crumbars using rotated pseudo elements*/
div[class^="crumbar-"] a:after {
    content: '';
    position: absolute;
    top: 0; 
    right: -18px; /*half of square's length*/
    /*same dimension as the line-height of .crumbar a */
    width: 36px; 
    height: 109%;
    /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
    length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
    if diagonal required = 1; length = 1/1.414 = 0.707*/
    transform: scale(0.707) rotate(45deg);
    /*we need to prevent the arrows from getting buried under the next link*/
    z-index: 1;
    /*background same as links but the gradient will be rotated to compensate with the transform applied*/
    background: #666;
    background: linear-gradient(135deg, #666, #333);
    /*stylish arrow design using box shadow*/
    box-shadow: 
        2px -2px 0 1px rgba(255, 255, 255, 1), 
        3px -3px 0 2px rgba(255, 255, 255, 0);
    /*
        5px - for rounded arrows and 
        50px - to prevent hover glitches on the border created using shadows*/
    border-radius: 0 5px 0 50px;
}
       
/*we dont need an arrow after the last link*/
div[class^="crumbar-"] a:last-child:after {
    position: absolute;
    top: -1px;
    height: 49px;
    width: 39px;
    right: -18px;
    transform: scale(0.707) rotate(40deg);
}

/*we will use the :before element to show numbers*/
div[class^="crumbar-"] a:before {
    content: counter(flag);
    counter-increment: flag;
    /*some styles now*/
    border-radius: 100%;
    width: 20px;
    height: 20px;
    line-height: 1.2;
    margin: 8px 0;
    position: absolute;
    top: -12px;
    left: -2px;
    color: #222;
    background: #fff;
    background: linear-gradient(#fff, #fff);
    font-weight: bold;
    border: 2px solid #222;
    z-index: 10;
    padding: 1px;
}




.phase1 a:not(:first-child){
   background: #d1d1d1 !important;
}
.phase1 a:not(:first-child):after {
     background: #d1d1d1 !important; 
}
.phase1 a:not(:first-child):before {
     border: 2px solid #fff;
     color: #fff;
     background: #d1d1d1 !important;
}


.phase2 a, .phase2 a:after{
     background: #d1d1d1 !important; 
}
.phase2 a:before {
     border: 2px solid #fff !important;
     color: #fff !important;
     background: #d1d1d1 !important;
 }
.phase2 a:nth-child(2):before {
     border: 2px solid #000 !important;
     color: #000 !important;
     background: #fff !important;
 }    
.phase2 a:nth-child(2):after, .phase2 a:nth-child(2){
     background: #073164 !important; 
}


.phase3 a, .phase3 a:after{
    background: #d1d1d1 !important; 
}
.phase3 a:before {
    border: 2px solid #fff !important;
    color: #fff !important;
    background: #d1d1d1 !important;
 }
.phase3 a:nth-child(3):before {
     border: 2px solid #000 !important;
     color: #000 !important;
     background: #fff !important;
 } 
.phase3 a:nth-child(3):after, .phase3 a:nth-child(3){
    background: #133e7a !important;
} 


.phase4 a, .phase4 a:after{
    background: #d1d1d1 !important; 
}
.phase4 a:before {
    border: 2px solid #fff !important;
    color: #fff !important;
    background: #d1d1d1 !important;
 }
.phase4 a:nth-child(4):before {
     border: 2px solid #000 !important;
     color: #000 !important;
     background: #fff !important;
}
.phase4 a:nth-child(4):after, .phase4 a:nth-child(4){
    background: #234c8c !important;
} 


.phase5 a, .phase5 a:after{
    background: #d1d1d1 !important; 
}
.phase5 a:before {
    border: 2px solid #fff !important; 
    color: #fff !important;
    background: #d1d1d1 !important;
 }
.phase5 a:nth-child(5):before {
     border: 2px solid #000 !important;
     color: #000 !important;
     background: #fff !important;
}
.phase5 a:nth-child(5):after, .phase5 a:nth-child(5){
    background: #385a99 !important;
} 


.phase6 a, .phase6 a:after{
    background: #d1d1d1 !important; 
}
.phase6 a:before {
    border: 2px solid #fff !important;
    color: #fff !important;
    background: #d1d1d1 !important;
 }
.phase6 a:nth-child(6):before {
     border: 2px solid #000 !important;
     color: #000 !important;
     background: #fff !important;
}
.phase6 a:nth-child(6):after, .phase6 a:nth-child(6){
    background: #516ba2 !important;
} 



.greybar{
    width: 97%;
    max-height: 20px; /* For Firefox - Browsers needs to specify a height */
    padding: 0;
    text-align: center;
    font-size: .65em;
    font-weight: 600;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 2;
    margin:10px auto;
    text-transform: uppercase;
    border: 1px solid #222;
    box-shadow: 0px 2px 5px 0px #c3c3c3;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
     background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
}
.greybar-sd,.greybar-od, .greybar-cm{
    width: 98% !important;
    max-height: 20px; /* For Firefox - Browsers needs to specify a height */
    padding: 0;
    text-align: center;
    font-size: .65em;
    font-weight: 600;
    overflow: hidden;
    /*position: absolute;
    top: 10px;
    left: 0px !important;*/
    z-index: 2;
    margin:15px 0 15px 0px; /* Update to reflect changes - removing dotted line now must adjust position and new margin */
    text-transform: uppercase;
    border: 1px solid #222;
    box-shadow: 0px 2px 5px 0px #c3c3c3;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
     background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
}

.greybar div,.greybar-sd div,.greybar-od div,.greybar-cm div{
    float: left;
}
div[class^="greybarslot-"]{
    border-right: 1px solid #222;
}
div[class^="greybarslot-"]:nth-child(1){
    width: 41%;
    padding: 2px 25px;
}
div[class^="greybarslot-"]:nth-child(2){
    width: 39%;
    padding: 2px 25px;
}
div[class^="greybarslot-"]:nth-child(3){
    width: 20%;
    padding: 2px 40px;
    border-right: none;
}
/*div[class^="greybarslot-"]:nth-child(4){
    width: 22%;
    padding: 2px 75px;
    
}
*/
div[class^="arrow-"]:before{
    color: #ccc;
    content:  "\f053";
    font-weight: 600;
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 1.875em; 
    position: relative;
    top: -20px;
    left: 10px;
}


div[class^="dotted-cm"]{
    float: left;
    display:inline-block;
    position: relative;
    bottom: 0px;
    width: 96%;
    border-top: 3px dotted #ccc;
    /*z-index: 1;*/
}
.arrowleft,.arrowright{
    float: left;
    display: inline-block;
}
.arrowleft:before,.arrowright:after{
    color: #ccc;
    font-weight: 300;
    font-family: "FontAwesome";
    font-size: 0.875em;     
    display: inline-block;
    position: relative;
    bottom: 8px;
}
.arrowleft:before{
    content:  "\f053";
}
.arrowright:after{
    content:  "\f054";
}


div[class^="looptxt-"]{
    position: absolute;
    top: -15px;
    right: 540px;
    font-style: italic;
    font-size: .80em;
    background: #fff;
    padding: 5px 10px;
    color: #222222;
}

/********** Remove from SD and OD ***************/

div[class^="looptxt-sd"],div[class^="looptxt-od"]{
    display:none;
}

div[class^="dotted-sd"],div[class^="dotted-od"]{
    display: none;
}

/********** Remove for SD ***************/



.tools-resources-wrap, .resource-text{
    /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  /*-ms-word-break: break-all;*/
   /*Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
   hyphens: manual;
}

.views-table tbody{
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
 /* Instead use this non-standard one: */
  /*word-break: break-word;*/
  hyphens: manual;
 font-size: calc(11px + (16 - 11) * ((100vw - 320px) / (1600 - 320)));
}

/* ~320px to ~480px */
@media only screen and (min-width: 20em) and (max-width: 56.25em){
    div[class^="dotted-"], .line-container, .greybar-sd,.greybar-od,.greybar-cm,.greybar{ display: none !important;}
    .crumbar-od a:after, .crumbar-cm a:after, .crumbar-sd a:after{
        right: -20px !important;
        width: 44px !important;
        height: 48px !important;
        transform: scale(0.707) rotate(45deg);
        box-shadow: 2px -2px 0 0px rgba(255,255,255,1), 2px -1px 0 0px rgba(255,255,255,0);
        border-radius: 0 5px 0 60px;
    }    
    .crumbar-od a, .crumbar-cm a, .crumbar-sd a {
      height: 47px;
 }  

}

/* ~320px to ~480px */
@media only screen and (min-width: 20em) and (max-width: 30.95em){
    .crumbar-od, .crumbar-cm, .crumbar-sd{margin-right:15px; }
    .crumbar-od a, .crumbar-cm a, .crumbar-sd a{ width: 100% !important; height: 46px; }
    .crumbar-od a:after, .crumbar-cm a:after, .crumbar-sd a:after{
        content: '';
        position: absolute;
        top: 0;
    }    
 }  

/* ~496px to ~696px */
@media only screen and (min-width: 31em) and (max-width: 43.5em){
    .crumbar-od a, .crumbar-cm a, .crumbar-sd a {
        width: 100% !important; height: 47px; padding: 14px 60px 7px 60px;
    }
    div.crumbar-od, div.crumbar-cm, div.crumbar-sd{ 
        margin-right:20px; display: block! important;
    }
  } 

/* ~697px to ~709px */
@media only screen and (min-width: 43.5625em) and (max-width: 44.3125em){ 
    .crumbar-od a, .crumbar-cm a, .crumbar-sd a {
      width: 100% !important;
      font-size: .70em;
      padding: 10px 5px 0 25px !important;
    }
   div.crumbar-od, div.crumbar-cm, div.crumbar-sd{ 
        margin-right:20px; display: block !important;
   }
}
/* ~720px to ~767px  */
@media only screen and (min-width: 44.375em) and (max-width: 47.95em){ 
    .crumbar-od a, .crumbar-cm a, .crumbar-sd a {
      width: 100% !important;
      font-size: .70em;
      padding: 10px 5px 0 25px !important;
    }
    div.crumbar-od, div.crumbar-cm, div.crumbar-sd{ margin-right:20px; display: block !important;
    }
}

 /****************************Start of Strategy Implementation & Development Media Queries ************************************************/


/* ~768px to ~ 799px Strategy Implementation & Development*/
@media only screen and (min-width: 48em) and (max-width: 49.9375em){ 
   .crumbar-sd a{
      width: 118px !important;
      font-size: .70em !important;
      padding:8px 15px 5px 25px !important;
    }
    div.crumbar-sd a:nth-child(1), div.crumbar-sd a:nth-child(2), div.crumbar-sd a:last-child{
        padding: 10px 10px 5px 20px !important;
    }
}

/* ~800px to ~ 859px  Strategy Implementation & Development*/
@media only screen and (min-width: 50em) and (max-width: 53.6875em){ 
   .crumbar-sd a{
      width: 122px !important;
      font-size: .70em !important;
      padding: 8px 15px 5px 35px !important;
    }
    div.crumbar-sd a:nth-child(1){
        padding: 10px 15px 5px 25px !important;
    }
     div.crumbar-sd a:nth-child(2), div.crumbar-sd a:last-child{
        padding: 10px 10px 15px 20px !important;
    }

 }

/* ~860px to ~ 900px Strategy Implementation & Development*/
@media only screen and (min-width: 53.75em) and (max-width: 56.25em){ 
    div.crumbar-sd a{
      width: 132px !important;
      font-size: .70em !important;
      padding: 15px 15px 5px 35px !important;
    }

    div.crumbar-sd a:nth-child(1), div.crumbar-sd a:nth-child(2), div.crumbar-sd a:nth-child(5){
        padding: 10px 15px 5px 25px !important;
    }

    div.crumbar-sd a:last-child{
        padding: 10px 0px 15px 20px !important;
    }
 }

/* ~901px to ~ 960px  Strategy Implementation & Development*/
@media only screen and (min-width: 56.3125em) and (max-width: 60em){ 
    div.crumbar-sd a{
      width: 140px !important;
      font-size: .70em !important;
      padding: 20px 5px 15px 25px !important;
    }
  
    div.crumbar-sd a:nth-child(1), div.crumbar-sd a:nth-child(2){
        padding: 10px 0px 10px 20px !important;
    }
    div.crumbar-sd a:last-child{
        padding: 10px 0px 10px 20px !important;
    }

     div.crumbar-sd a:after{
        right: -21px !important;
        width: 44px !important;
        height: 52px !important;
        transform: scale(0.707) rotate(45deg);
        box-shadow: 2px -2px 0 0px rgba(255,255,255,1), 2px -1px 0 0px rgba(255,255,255,0);
        border-radius: 0 5px 0 60px;
    }     
}

/* ~961px to ~ 1016px  Strategy Implementation & Development*/
@media only screen and (min-width: 60.0625em) and (max-width: 63.5em){ 
    div.crumbar-sd a{
      width: 150px !important;
      font-size: .70em !important;
      padding: 20px 5px 15px 25px !important;
    }
  
    div.crumbar-sd a:nth-child(1), div.crumbar-sd a:nth-child(2){
        padding: 10px 0px 10px 20px !important;
    }
    div.crumbar-sd a:last-child{
        padding: 10px 0px 10px 20px !important;
    }

     div.crumbar-sd a:after{
        right: -21px !important;
        width: 44px !important;
        height: 52px !important;
        transform: scale(0.707) rotate(45deg);
        box-shadow: 2px -2px 0 0px rgba(255,255,255,1), 2px -1px 0 0px rgba(255,255,255,0);
        border-radius: 0 5px 0 60px;
    }     
}

/* ~1017px to ~ 1064px  Strategy Implementation & Development*/
@media only screen and (min-width: 63.5625em) and (max-width: 66.5em){ 
    div.crumbar-sd a{
      width: 155px !important;
      font-size: .70em !important;
      padding: 20px 5px 15px 25px !important;
    }
  
    div.crumbar-sd a:nth-child(1), div.crumbar-sd a:nth-child(2){
        padding: 10px 0px 10px 20px !important;
    }
    div.crumbar-sd a:last-child{
        padding: 10px 0px 10px 25px !important;
    }

     div.crumbar-sd a:after{
        right: -21px !important;
        width: 44px !important;
        height: 52px !important;
        transform: scale(0.707) rotate(45deg);
        box-shadow: 2px -2px 0 0px rgba(255,255,255,1), 2px -1px 0 0px rgba(255,255,255,0);
        border-radius: 0 5px 0 60px;
    }     
}

/* ~1065px to ~ 1100px  Strategy Implementation & Development*/
@media only screen and (min-width: 66.5625em) and (max-width: 68.75em){ 
    div.crumbar-sd a{
      width: 165px !important;
      font-size: .70em !important;
      padding: 20px 5px 15px 25px !important;
    }
    div.crumbar-sd a:nth-child(1), 
    div.crumbar-sd a:nth-child(2), 
    div.crumbar-sd a:last-child{
        padding: 10px 10px 10px 25px !important;
    }

     div.crumbar-sd a:after{
        right: -21px !important;
        width: 44px !important;
        height: 52px !important;
        transform: scale(0.707) rotate(45deg);
        box-shadow: 2px -2px 0 0px rgba(255,255,255,1), 2px -1px 0 0px rgba(255,255,255,0);
        border-radius: 0 5px 0 60px;
    }     
}

/* ~1101px to ~ 1160px Strategy Implementation & Development*/
@media only screen and (min-width: 68.8125em) and (max-width: 72.5em){ 
    div.crumbar-sd a{
      width: 175px !important;
      padding: 15px 10px 15px 25px !important;
    }
  
    div.crumbar-sd a:nth-child(1), 
    div.crumbar-sd a:nth-child(2), div.crumbar-sd a:last-child{
        padding: 10px 15px 5px 25px !important;
    }

}


/****************************Start of Organizational Design Media Queries ************************************************/


/* ~768px to ~ 799px  Organizational Design */
@media only screen and (min-width: 48em) and (max-width: 49.9375em){ 
    div.crumbar-od a{
      width: 140px !important;
      font-size: .70em !important;
      padding: 2px 25px 2px 25px !important;
    }
    div.crumbar-od a:nth-child(5){
       padding: 2px 25px 2px 25px !important;
    }
  
}

/* ~800px to ~ 859px Organizational Design */
@media only screen and (min-width: 50em) and (max-width: 53.6875em){ 
    div.crumbar-od a{
      width: 145px !important;
      font-size: .70em !important;
      padding: 2px 25px 2px 25px !important;
    }
    div.crumbar-od a:nth-child(5){
       padding: 2px 25px 2px 25px !important;
    }
}

/* ~860px to ~ 900px Organizational Design */
@media only screen and (min-width: 53.75em) and (max-width: 56.25em){ 
    div.crumbar-od a{
      width: 155px !important;
      font-size: .70em !important;
      padding: 2px 25px 2px 25px !important;
    }
    div.crumbar-od a:nth-child(5){
       padding: 2px 25px 2px 25px !important;
    }
    div.crumbar-od a:nth-child(3){
       padding-top: 10px !important;
    }
}
/* ~901px to ~ 960px Organizational Design */
@media only screen and (min-width: 56.3125em) and (max-width: 60em){ 
    div.crumbar-od a{
      width: 165px !important;
      font-size: .70em !important;
      padding: 2px 25px 2px 25px !important;
    }
  
    div.crumbar-od a:last-child, div.crumbar-od a:nth-child(3) {
     padding: 10px 15px 9px 25px !important; 
    }
    div.crumbar-od a:after{
        right: -20px !important;
        width: 44px !important;
        height: 51px !important;
        transform: scale(0.707) rotate(45deg);
        box-shadow: 2px -2px 0 0px rgba(255,255,255,1), 2px -1px 0 0px rgba(255,255,255,0);
        border-radius: 0 5px 0 60px;
    }     
}

/* ~961px to ~ 1016px Organizational Design */
@media only screen and (min-width: 60.0625em) and (max-width: 63.5em){ 
    div.crumbar-od a{
      width: 180px !important;
      font-size: .70em !important;
      padding: 2px 25px 2px 25px !important;
    }
  
    div.crumbar-od a:last-child, div.crumbar-od a:nth-child(2), div.crumbar-od a:nth-child(3) {
     padding: 10px 15px 9px 25px !important; 
    }
    div.crumbar-od a:after{
        right: -20px !important;
        width: 44px !important;
        height: 51px !important;
        transform: scale(0.707) rotate(45deg);
        box-shadow: 2px -2px 0 0px rgba(255,255,255,1), 2px -1px 0 0px rgba(255,255,255,0);
        border-radius: 0 5px 0 60px;
    }     
}

/* ~1017px to ~ 1100px Organizational Design */
@media only screen and (min-width: 63.5625em) and (max-width: 68.75em){ 
    div.crumbar-od a{
      width: 190px !important;
      font-size: .70em !important;
      padding: 2px 25px 2px 25px !important;
    }
  
    div.crumbar-od a:last-child, div.crumbar-od a:nth-child(2),  div.crumbar-od a:nth-child(3), div.crumbar-od a:nth-child(4) {
     padding: 10px 15px 9px 25px !important; 
    }
    div.crumbar-od a:after{
        right: -20px !important;
        width: 44px !important;
        height: 51px !important;
        transform: scale(0.707) rotate(45deg);
        box-shadow: 2px -2px 0 0px rgba(255,255,255,1), 2px -1px 0 0px rgba(255,255,255,0);
        border-radius: 0 5px 0 60px;
    }     
}

/* ~1101px to ~ 1160px Organizational Design */
@media only screen and (min-width: 68.8125em) and (max-width: 72.5em){ 
    div.crumbar-od a{
      width: 205px !important;
      font-size: .70em !important;
      padding: 10px 15px 9px 25px !important;
    }
  
    div.crumbar-od a:last-child {
     padding: 10px 15px 9px 20px !important; 
    }

    div.crumbar-od a:after{
        right: -20px !important;
        width: 44px !important;
        height: 51px !important;
        transform: scale(0.707) rotate(45deg);
        box-shadow: 2px -2px 0 0px rgba(255,255,255,1), 2px -1px 0 0px rgba(255,255,255,0);
        border-radius: 0 5px 0 60px;
    }     
}

/****************************End of Organizational Design Media Queries **********************************************/

/****************************Start of Change Management Media Queries ************************************************/

/* ~768px to ~ 799px  Change Management */
@media only screen and (min-width: 48em) and (max-width: 49.9375em){ 
     .crumbar-cm a{
      width: 135px !important;
      font-size: .70em !important;
      padding: 15px 5px 0 25px !important;
    }
   
}
/* ~800px to ~ 859px  Change Management */
@media only screen and (min-width: 50em) and (max-width: 53.6875em){ 
    .crumbar-cm a{
      width: 145px !important;
      font-size: .70em !important;
      padding: 15px 5px 0 25px !important;
    }
}

/* ~860px to ~ 900px Change Management */
@media only screen and (min-width: 53.75em) and (max-width: 56.25em){ 
    div.crumbar-cm a{
      width: 155px !important;
      font-size: .70em !important;
      padding: 15px 5px 0px 25px !important;
    } 
}
/* ~901px to ~ 1016px Change Management */
@media only screen and (min-width: 56.3125em) and (max-width: 63.5em){ 
   .line-container,.greybar-cm{ 
        display: none !important;
    }
}


/* ~901px to ~ 960px Change Management  */
@media only screen and (min-width: 56.3125em) and (max-width: 60em){ 
    div.crumbar-cm a{
      width: 165px !important;
      font-size: .70em !important;
      padding: 15px 5px 15px 25px !important;
    }
}

/* ~961px to ~ 1016px Change Management */
@media only screen and (min-width: 60.0625em) and (max-width: 63.5em){ 
    div.crumbar-cm a{
      width: 180px !important;
      font-size: .70em !important;
      padding: 15px 5px 15px 25px !important;
    }
 }

/* ~1017px to ~ 1100px Change Management */
@media only screen and (min-width: 63.5625em) and (max-width: 68.75em){ 
    div.crumbar-cm a{
      width: 190px !important;
      font-size: .70em !important;
      padding: 15px 5px 15px 25px !important;
    }  

    .dotted-cm:after{
        top: -12px;
        left: 910px;
    }
    .looptxt-cm {
        right: 420px;
    }
}

/* ~1101px to ~ 1160px Change Management */
@media only screen and (min-width: 68.8125em) and (max-width: 72.5em){ 
    div.crumbar-cm a{
      width: 205px !important;
      font-size: .70em !important;
      padding: 15px 5px 15px 25px !important;
    }
}
/****************************End of Change Management Media Queries ************************************************/

